[MASTER]
init-hook='import sys; sys.path.append("src")'
ignore=venv, books

[MESSAGES CONTROL]
disable=C0304, C0114, C0116, C0115, E0401
 
[FORMAT]
max-line-length=100

[REPORTS]
output-format = colorized
reports = no

[LOGGING]
logging-modules=logging